@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Roboto:wght@200;400;700&family=Shadows+Into+Light:wght@200;400;700&display=swap');

$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$tertiary-font: 'Shadows Into Light', cursive;