@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Shadows+Into+Light&display=swap');

$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$tertiary-font: 'Shadows Into Light', cursive;