@use "./abstracts" as *;

.card {
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.25);
  border-style: dashed;
  border-color: $primary-color;
  width: 940px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 85vw;

  .title {
    text-transform: uppercase;
    font-family: $font-family--primary;
    font-size: 4.6rem;
    color: $primary-color;
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
  }

  .description {
    font-family: $font-family--secondary;
    font-size: 2rem;
    color: #fff;
    margin: 0 0 20px;
    padding: 10px;
  }
}
