@use "./abstracts" as *;

.card {
  padding: 30px 20px 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-style: dashed;
  border-color: $primary-color;
  width: 940px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 85vw;
  row-gap: 20px;

  .title {
    text-transform: uppercase;
    font-family: $font-family--primary;
    font-size: $font-size--medium-large;
    color: $primary-color;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .description {
    font-family: $font-family--secondary;
    font-size: $font-size--x-small;
    color: #fff;
    margin: 0;
    padding: 10px;
    text-align: justify;
    text-indent: 3ch;
  }

  @media screen and (min-width: 720px) {
    padding: 35px;
    .title{
      font-size: $font-size--large;
    }

    .description{
      font-size: $font-size--small;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 50px;

    .title{
      font-size: $font-size--x-large;
    }

    .description{
      font-size: $font-size--medium;
    }
  }
}
