@use "./abstracts" as *;

.card {
  padding: 30px 20px 20px;
  background-color: $color--card-background;
  border-style: dashed;
  border-color: $color--card-border;
  width: 940px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  max-width: 85vw;
  row-gap: 20px;

  .heading {
    text-transform: uppercase;
    font-family: $font-family--primary;
    font-size: $font-size--medium-large;
    color: $color--card-heading;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .description {
    font-family: $font-family--secondary;
    font-size: $font-size--x-small;
    color: $color--card-description;
    margin: 0;
    padding: 10px;
    text-align: justify;
    text-indent: 3ch;
  }

  @media screen and (min-width: 720px) {
    padding: 35px;
    .heading {
      font-size: $font-size--large;
    }

    .description {
      font-size: $font-size--small;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 50px;

    .heading {
      font-size: $font-size--x-large;
    }

    .description {
      font-size: $font-size--medium;
    }
  }
}

.innerCard {
  max-width: 85%;
  margin: auto;
  background-color: transparent;
  border-style: none;
  padding: 0;
  gap: 0;

  .heading {
    font-size: calc($font-size--medium-large * 0.8);
    text-align: start;
    padding: 0;
  }

  .description {
    padding: 0px;
  }

  @media screen and (min-width: 720px) {
    .heading {
      font-size: calc($font-size--large * 0.8);
    }
  }

  @media screen and (min-width: 1024px) {
    .heading {
      font-size: calc($font-size--x-large * 0.8);
    }
  }
}
