@use "./abstracts" as *;

.footer {
  width: 100%;
  display: flex;
  padding: 5rem 0 8rem;

  p {
    font-family: $font-family--secondary;
    height: 50px;
    color: $lightblue-color;
    font-size: 3.2rem;
    margin: auto;
    padding: 1rem;
    font-weight: bold;
  }
}
