@use "./abstracts" as *;

.footer {
  padding: 20px 0 40px;
  display: flex;
  justify-content: center;

  .company{
    line-height: 40px;
    font-family: $font-family--secondary;
    color: $lightblue-color;
    font-size: $font-size--medium;
    margin: 0;
    padding: 1rem;
    font-weight: bold;
  }

  @media screen and (min-width: 720px) {
    padding: 25px 0 45px;
    line-height: 50px;

    .company{
      font-size: $font-size--medium-large;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 30px 0 50px;
    .company{
      font-size: $font-size--large;
    }
  }
}
