@use "./abstracts" as *;

.hero {
  align-items: center;
  background-image: radial-gradient(
    at center center,
    rgba($primary-color, 0.6) 0%,
    $primary-color 85%
  );
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  min-height: 600px;
  width: 100vw;
  padding-top: 100px;

  .content {
    text-align: center;
    max-width: 70%;

    .heading {
      color: $secondary-color;
      font-family: $font-family--primary;
      font-size: $font-size--large;
      letter-spacing: 1px;
      line-height: 1em;
      text-shadow: 5px -2px 3px rgb(0 0 0 / 30%);
      text-transform: uppercase;
      flex-shrink: 0;
    }

    .tagline {
      color: #000;
      font-family: $font-family--tertiary;
      font-size: $font-size--medium;
      font-weight: 700;
      max-width: 40ch;
      margin: 0 auto;
    }
  }

  .image {
    width: 100%;
  }

  @media screen and (min-width: 720px) {
    .content {
      .heading {
        font-size: $font-size--x-large;
      }

      .tagline {
        font-size: $font-size--large;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .content {
      .heading {
        font-size: $font-size--xx-large;
      }
    }
  }
}
