@use "./abstracts" as *;

.hero {
  background-image: radial-gradient(
    at center center,
    rgba($color--hero-background, 0.6) 0%,
    $color--hero-background 85%
  );
  justify-content: center;
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  display: grid;
  gap: 20px;
  margin: 0 auto;
  padding: 50px 0;

  .content {
    text-align: center;

    .heading {
      color: $color--hero-heading;
      flex-shrink: 0;
      font-family: $font-family--primary;
      font-size: $font-size--large;
      letter-spacing: 1px;
      line-height: 1em;
      margin-block: 10px 20px;
      text-shadow: 5px -2px 3px rgb(0 0 0 / 30%);
      text-transform: uppercase;
    }

    .tagline {
      color: $color--hero-tagline;
      font-family: $font-family--tertiary;
      font-size: $font-size--medium;
      font-weight: 700;
      letter-spacing: 1px;
      margin: 0 auto;
      max-width: 40ch;
    }
  }

  .image {
    max-width: 100%;
  }

  @media screen and (min-width: 720px) {
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 10px 150px;

    .content {
      align-self: center;

      .heading {
        font-size: $font-size--x-large;
        margin-block: 0 30px;
      }

      .tagline {
        font-size: $font-size--large;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .content {
      .heading {
        font-size: $font-size--xx-large;
        margin-block: 0 40px;
      }
    }
  }
}
