@use "./abstracts" as *;

.hero {
  align-items: center;
  background-image: radial-gradient(at center center, #eacb4f 0%, #f6a623 64%);
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  display: flex;
  height: 700px;
  margin-bottom: 100px;
  padding-inline: 40px;

  .grid {
    align-items: center;
    display: grid;
    justify-content: center;
  }

  .content {
    align-self: center;
    justify-self: center;
    padding: 1rem;
    text-align: center;

    .heading {
      color: $title-color;
      font-family: $font-family--primary;
      font-size: $font-size--large;
      letter-spacing: 0px;
      letter-spacing: 1px;
      line-height: 1em;
      margin-block: 3em 0;
      text-shadow: 5px -2px 3px rgb(0 0 0 / 30%);
      text-transform: uppercase;
    }

    .tagline {
      color: #000;
      font-family: $font-family--tertiary;
      font-size: $font-size--medium;
      font-weight: 700;
    }
  }

  .image {
    width: 100%;
  }

  @media screen and (min-width: 720px) {
    .grid {
      gap: 40px;
      grid-template-columns: 1fr 1fr;
    }

    .content {
      .heading {
        font-size: $font-size--x-large;
        margin-top: 0.5em;
      }

      .tagline {
        font-size: $font-size--large;
      }
    }

    .image {
      // max-height: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    .content {
      .heading {
        font-size: $font-size--xx-large;
      }
    }
  }
}
