@use "./abstracts" as *;
@use "./abstracts" as *;

.container {
  align-items: center;
  display: flex;
  gap: 10px;

  .photo {
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
  }

  .prefix {
    font-weight: 400;
  }

  .name {
    border-bottom: 2px solid;
    color: rgba($secondary-color, 0.6);
    font-family: $font-family--primary;
    font-size: $font-size--medium-large;
    font-weight: 300;
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
  }

  .position {
    border-bottom: 2px solid;
    color: rgba($secondary-color, 0.6);
    font-family: $font-family--secondary;
    font-size: $font-size--small;
    font-weight: 300;
    margin: 0.3em 0 0;
    margin-inline: 5em;
    padding-bottom: 5px;
    text-align: center;
  }

  @media screen and (min-width: 720px) {
    .photo {
      width: 60px;
    }

    .name {
      font-size: $font-size--large;
    }

    .suffix {
      // font-size: $font-size--medium;
    }

    .position {
      font-size: $font-size--medium;
    }
  }
}
