@use "./abstracts" as *;

.navbar {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  justify-items: center;
  padding: 20px 50px;

  .logo {
    width: 150px;
    aspect-ratio: 1;
  }

  .navLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2rem;
    list-style-type: none;
    padding: 0;

    .navLink {
      color: $navlink-color;
      font-family: $font-family--secondary;
      font-size: 1.6rem;
      font-weight: 900;
      padding: 1.3rem 2rem;
    }

    .navLink:hover,
    .navLinkActive {
      box-sizing: content-box;
      color: $secondary-color;
      cursor: pointer;
      position: relative;

      &::after {
        background-color: $secondary-color;
        bottom: 0;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
      }
    }
  }

  .contact {
    display: flex;
    color: $primary-color;
    flex-direction: column;
    font-family: $font-family--primary;
    text-align: center;

    .heading {
      text-shadow: 4px 3px 0 $navlink-color;
      font-size: $font-size--large;
      letter-spacing: 1px;
      margin: 10px 0;
      text-transform: uppercase;
    }

    main {
      display: flex;
      flex-direction: column;

      .meh {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-style: normal;
        gap: 5px;
        justify-content: flex-start;
        line-height: 1em;

        .icon {
          display: flex;
          align-items: center;
          aspect-ratio: 1;
          background-color: rgba(255, 255, 255, 0.161);
          border-radius: 50%;
          color: rgba($secondary-color, 0.75);
          font-size: $font-size--small;
          height: 30px;
          justify-content: center;
        }

        .data {
          font-size: $font-size--medium;
          font-weight: 200;
          margin-inline-start: 0.25em;
          color: $secondary-color;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}
