@use "./abstracts" as *;

.navbar {
  width: 100%;

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .navLinks {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-block: 3rem;
    line-height: 2rem;

    .navLink {
      font-family: $font-family--secondary;
      font-weight: 900;
      font-size: 1.6rem;
      color: #7a7a7a;
      padding: 1.3rem 2rem;
    }
  
    .navLink:hover,
    .navLinkActive {
      color: $lightgreen-color;
      cursor: pointer;
      box-sizing: content-box;
      position: relative;
  
      &::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: $lightgreen-color;
        z-index: 2;
      }
    }
  }
  
  .contact{
    font-family: $font-family--primary;
    font-size: 2.7rem;
    font-weight: 200;
    text-transform: uppercase;
    color: $primary-color;
  }
}
